{% extends 'base.html' %}

{% block title %}
<title>Envio de Paquetes</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Tablero</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Tablero</a></li>
            <li class="breadcrumb-item active">Clientes</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Clientes</div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header">Nuevo Cliente</div>
                    <div class="card-body">
                        <form action="/clients/" method="POST" id="client_form">
                            <label for="client_name" class="col-form-label">Nombre del Cliente</label>
                            <input type="text" name="client_name" id="client_name">
                            <br>
                            <label for="client_lastname" class="col-form-label">Apellido del Cliente</label>
                            <input type="text" name="client_lastname" id="client_lastname">
                            <br>
                            <label for="client_address" class="col-form-label">Direccion del Cliente</label>
                            <input type="text" name="client_address" id="client_address">
                            <br>
                            <label for="client_cod_post" class="col-form-label">Codigo Postal del Cliente</label>
                            <input type="text" name="client_cod_post" id="client_cod_post">
                            <div class="form-group mt-4 mb-0">
                                <input type="submit" value="Añadir Cliente" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Tabla de clientes
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if clients|length < 1 %}
                        <h4>No hay clientes, agregue uno arriba</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre de Cliente</th>
                                    <th>Apellido de Cliente</th>
                                    <th>Direccion de Cliente</th>
                                    <th>Codigo Postal de Cliente</th>
                                    <th>Fecha</th>
                                    
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nombre de Cliente</th>
                                    <th>Apellido de Cliente</th>
                                    <th>Direccion de Cliente</th>
                                    <th>Codigo Postal de Cliente</th>
                                    <th>Fecha</th>
                                    
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for client in clients %}
                                <tr>
                                    <td>{{ client.client_id }}</td>
                                    <td>{{ client.lastname }}</td>
                                    <td>{{ client.address }}</td>
                                    <td>{{ client.cod_post }}</td>
                                    <td>{{ client.date_created.date() }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}